# This filter is used to specify encryption keys
# Please do not remove
local.env filter=git-crypt-mol-nonprod-gc-key diff=git-crypt-mol-nonprod-gc-key
dev.env filter=git-crypt-mol-nonprod-gc-key diff=git-crypt-mol-nonprod-gc-key
tst.env filter=git-crypt-mol-nonprod-gc-key diff=git-crypt-mol-nonprod-gc-key
qe.env filter=git-crypt-mol-nonprod-gc-key diff=git-crypt-mol-nonprod-gc-key
stg.env filter=git-crypt-mol-nonprod-gc-key diff=git-crypt-mol-nonprod-gc-key
e2e.env filter=git-crypt-mol-nonprod-gc-key diff=git-crypt-mol-nonprod-gc-key
prod.env filter=git-crypt-mol-prod-gc-key diff=git-crypt-mol-prod-gc-key
.gitattributes !filter !diff

